{{> metabase/email/_header }}
  <div style="padding: 2em 4em; border: 1px solid #dddddd; border-radius: 2px; background-color: white; box-shadow: 0 1px 2px rgba(0, 0, 0, .08); text-align: center;">
    <div style="padding-bottom: 1em;">
      <h2 style="font-weight: normal; color: #4C545B;line-height: 1.65rem;">
        {{metricName}} revised by Analytics team.
      </h2>
    </div>
    <div style="padding: 1em;">
      <a style="{{buttonStyle}}" href="{{metricUrl}}">
        View {{metricName}}'s definition
      </a>
    </div>
    <div style="padding-bottom: 2em; font-size: x-small;">
      Button not working? Paste this link into your browser:<br/>
      {{metricUrl}}
    </div>
  </div>
{{> metabase/email/_footer }}
